*{
  padding: 0;
  margin:0;
}
.nav-wrapper {
  border-bottom: 1px ridge teal;
  padding-bottom: 0px !important;

}
.link-hover:hover {
  text-decoration: none;
  cursor: pointer;
}

.nav-link  {
  display: inline;
  margin: 0;
  padding: 0.5ch;
}

.nav-link:hover {
  color:white;
  ;
}

.nav-active {
  color:teal;
  border-bottom: 1px ridge teal;
  padding: 0.5ch
}

.QuestionTypeSpan {
  margin: 1rem;
  margin-bottom: 90px;
  color: #1f9d6a;
}

.QuestionTypeSpan:hover {
  border-bottom: 2px ridge;
  cursor: pointer;
  color: #0c3f2a

}

.questions li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

 li {
  list-style-type: none;
 }

.center {
  text-align: center;
  margin: 0px auto;
}

.questions {
  margin: 0px auto;
}

.card-body {
  padding:1ch;
}

.welcome-card-title {
  background-color: #1f9d6a !important
}

.question-card-title {
  background-color: #1f9d6a !important
}


.question-avatar {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

img strong {
  display: block;
}

.text-light {
  color:seashell !important
}

.would-you-rather-image {
  width: 100%;
  height: auto;
}

.select-User{
  margin:20px !important;
}

.welcome-form-select {
  border: 1px ridge #1f9d6a;
  border-radius: 5%;
  box-shadow: #0e4830;
  color: seashell;
  background-color: #1f9d6a;
}

.top-nav{
  /* padding-top: 6ch;
  padding-left: 2ch; */
}

.selected-question-form {
  border: 1px ridge;
  padding: 2px;
}

.submit-btn{
  background-color: #1f9d6a;
}

.logout {
  cursor: pointer;
}

.logout:hover {
  color: red;
}

.new-ques-input {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px #1f9d6a ridge;
  padding-left: 5px;
  width: 80%;
  height: auto;
}

/* .new-ques-input2 {
  margin-top: 0px !important
} */
 .dinline {
   display: inline;
 }

 .dblock {
  display: block;
}